body {
  font-family: sans-serif;
}

.box {
  width: 300px;
  height: 300px;
  border: 5px solid #000000;
  padding: 30px;
}

/* 우선 바깥의 .box의 크기를 봅시다. 너비와 높이가 300px로 되어있는데 막상 크기를 보면 370px이죠?
앞에서 배웠던 박스 모델을 생각해보면, 안쪽의 콘텐트 박스가 300px일 거라고 추측할 수 있습니다.
테두리가 5px, padding이 30px이니까, (5 + 30) * 2 + 300 = 370이 되는 거죠. 
(박스 모델을 그려서 한번 확인해보세요!)
자 그럼 안쪽에 있는 .message는 너비랑 높이가 100%인데요. 300px의 정사각형 안에서 배치되는 거기 때문에, 
이 100%는 300px일 겁니다. 그런데 왜 이렇게 삐져나온 걸까요? */
/* 보시면 .message에서도 콘텐트 박스가 300px이 되었네요. 우리는 300px 안에 꽉 차게 그리는 게 목표니까, 
이걸 수정해야 할 거 같습니다.
앞에서 배운 box-sizing이라는 속성 기억나시나요? 너비랑 높이를 어떤 걸 기준으로 할 거냐 정하는 건데요. 
\만약에 이걸 테두리(border-box)를 기준으로 하면 .message가 300px 안에 꽉 찰 거 같습니다.
그래서 .message에다가 아래처럼 추가해 줄게요. 
저장하고 개발자 도구로 확인해 보면, 이번에는 테두리까지 모두 합친 크기를 300px로 만들어 줍니다.*/


.message {
  width: 100%;
  height: 100%;
  font-size: 48px;
  margin: 0;
  padding: 24px;
  color: #ffffff;
  background-color: #000000;

  box-sizing: border-box;
}
